<ol class="breadcrumb">
    <li><a href="/stories">Stories</a></li>
    <li><a href="/stories/<%= story._id %>"><%= story.title %></a></li>
    <li class="active">Maps</li>
</ol>

<h1>Maps for story &quot;<%= story.title %>&quot;
    <a id="view-story-btn" class="btn btn-small btn-info pull-right" href="/stories/<%= story._id %>">Edit</a>
    <a id="edit-story-btn" class="btn btn-small btn-info pull-right" href="/stories/<%= story._id %>/edit">Edit</a>
    <a class="btn btn-default pull-right" href="/stories/<%= story._id %>/chapter/0/add_chapter">Add Chapter</a>
</h1>

<ul>
    <% maps.forEach(function(map){ %>
    <li><a href="/stories/<%= story._id %>/maps/<%= map._id %>"><%= map.title %></a></li>
    <% }) %>
</ul>

<p><a href="/stories/<%= story._id %>/maps/0/new" class="btn btn-default btn-primery">Create Map</a></p>