<%
var bc = helpers.teller_breadcrumb();
bc.add({title: 'Maps', link: '/stories/' + story._id + '/maps'});
bc.add({title: map.title, link: '/stories/' + story._id + '/maps/' + map._id});
bc.add({title: 'Edit', meta: {active: true} });
%>
<%- bc %>

<script language="javascript">
    var map_data = <%- JSON.stringify(map.toJSON()) %>;
</script>

<div ng-app="teller_app">
    <div ng-controller="teller_map_edit">

        <h1>Edit Map &quot;<%= map.title %>&quot; for Story &quot;<%= story.title %>&quot;</h1>

        <p><b>Background:</b> {{ background.name }}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-default"
                    ng-click="center()">Center
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="show_appearance_menu()"
                    ng-click="set_appearance()">Appearance...
            </button>

            <div class="btn-group" ng-show="show_add_menu()">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="add_item('road')">Road</a></li>
                    <li><a ng-click="add_item('town')">Town</a></li>
                    <li><a ng-click="add_item('building')">Building</a></li>
                    <li><a ng-click="add_item('terrain')">Terrain</a></li>
                </ul>
            </div>
            <button type="button"
                    class="btn btn-default btn-primary" ng-click="confirm_done()" ng-show="show_confirm_button"
                    >
                {{ confirm_text }}
            </button>
        </div>
        <div ng-form class="form-inline pull-right" style="width: 20em" ng-show="show_search_menu()">
            <div class="form-group">
                <input type="search" class="form-control input-smal" ng-model="search_text" placeholder="search"/>
            </div>
            <div class="form-group" ng-click="search_text=''"><b>&times;</b></div>
        </div>
        <div class="map-scale-group pull-left">
            <div class="range-item">
                <input type="range" id="map-scale-slider"/>
            </div>
            <div class="range-feedback">
                {{ coords() }} mode = {{ map_mode() }}
            </div>
        </div>

    </div>

</div>

<canvas id="map" width="800" height="600"
        style="border: 1px solid black; background-color: rgb(51, 51, 51)"></canvas>