
<% if (chapter){ %>
<h2><%= chapter.title %></h2>

<p><%- chapter.content %></p>

<% if (continue_links && continue_links.length) { continue_links.forEach(function(cl){ %>
<p><b>Next:</b> <a href="/stories/<%= story.name %>/chapter/<%= cl.to_chapter %>">
    <%= cl.to_chapter_obj.summary || 'Next Chapter' %>
</a>
</p>
<% }) } %>

<% if (!continue_links.length)  { %>
<a class="btn btn-default" href="/stories/<%= story.name %>/chapter/<%= chapter.name %>/add_next">Add Chapter
    after &quot;<%= chapter.title %>&quot;</a>
<a class="btn btn-default"
   href="/stories/<%=story.name %>/chapter/<%= chapter.name %>/link/continue">
    Link to existing chapter</a>
<% } %>