<ol class="breadcrumb">
    <li><a href="/stories">Stories</a></li>
    <li class="active"><%= story.title %></li>
</ol>

<h1><%= story.title %>
    <a id="edit-story-btn" class="btn btn-small btn-info pull-right" href="/stories/<%= story.name %>/edit">Edit</a>
</h1>

<ol>
    <% chapters.forEach(function(c){ %>
    <li><%= c.title %></li>
    <% }) %>
</ol>

<% if (chapter){ %>
<h2><%= chapter.title %></h2>

<p><%- chapter.content %></p>

<% if (chapter.next) { %>
<% } else { %>
        <a class="btn btn-default" href="/stories/<%= story.name %>/chapter/<%= chapter.name %>/add_next">Add Next</a>
<% } %>
<% } %>