<ol class="breadcrumb">
    <li><a href="/stories">Stories</a></li>
    <li><%= story.title %></li>
    <li class="active">Edit</li>
</ol>

<h1><%= story.title %>
    <a class="btn btn-small btn-info pull-right" href="/stories/<%= story.name %>">View</a></h1>

<form class="form-horizontal" role="form" action="/stories/<%= story.name %>/edit" method="post">
    <input type="hidden" name="name" value="<%= story.name %>"/>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>

        <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="title" placeholder="Title"
                   value="<%= story.title %>">
        </div>
    </div>
    <div class="form-group">
        <label for="summary" class="col-sm-2 control-label">Summary</label>

        <div class="col-sm-10">
            <textarea class="form-control" id="summary" placeholder="Summary" name="summary"><%= story.summary || ''
                %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="start-chapter" class="col-sm-2 control-label">Start Chapter</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="start-chapter" placeholder="Start Chapter" name="start_chapter"
                   value="<%= story.start_chapter || '' %>"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update Story</button>
        </div>
    </div>
</form>

<script language="javascript">
    setTimeout(function () {
        $(function () {
            $('#start-chapter').typeahead({
                name: 'start_chapter',
                local: [ < % chapters.forEach(function (c) { %>
                '<%= c.name %>',
                <% }) % >
            ]
        });
    })
    },
    1000
    )
    ;


</script>